/.qtcreator
/build
/ChatGPT chat backup
/docs
/History/L2diagnostic baseline
/History
/L2Diagnsotic L2 decoder-dispatch layer V0.2.0 backup
/L2Diagnsotic L2 decoder-dispatch layer V0.2.1 backup
/update
/WireShark data
