/.qtcreator
/build
/broken
/ChatGPT chat backup
/docs
/History
/L2Diagnsotic L2 decoder-dispatch layer V0.2.5 backup
/L2Diagnsotic L2 GUI done new Renderer V0.3.2 backup
/L2Diagnsotic L2 GUI done new Renderer V0.3.3 backup
/L2Diagnsotic L2 GUI done new Renderer V0.3.4 backup
/L2Diagnsotic L2 GUI done new Renderer V0.3.5 backup
/WireShark data
